TO-DOs:

INCIDENT FILE
- Parse-out the time from the date/time columns
- Calculate the arrival times

STATION FILE
- TBD?


ASSIGNMENTS:
- Google map the CLV station on a map?  (Margot)

In [24]:
# DEPENDENCIES
import pandas as pd

# Declare variables for each CSV file
incident_file_df1114 = "data/Fire_Department_Incident_Count - 2011-2014.csv"
incident_file_df1516 = "data/Fire_Department_Incident_Count - 2015-2016.csv"
incident_file_df1718 = "data/Fire_Department_Incident_Count - 2017-2018.csv"
fire_station_data =  "data/Clark_County_Fire_Stations.csv"

#import gmaps
import gmaps

# Import API key
from configure import g_key

PROCESS INCIDENT DATA HERE

In [25]:
# Step 1: bring-in 2011-2014 data into a df

incident_file_df1114 = pd.read_csv(incident_file_df1114)
print(f"# of rows in 2011-2014 DF: {len(incident_file_df1114)}")

# of rows in 2011-2014 DF: 317543

In [26]:
# Step 2: bring-in 2015 - 2015 data into a df

incident_file_df1516 = pd.read_csv(incident_file_df1516)
print(f"# of rows in 2014-2015 DF: {len(incident_file_df1516)}")

# of rows in 2014-2015 DF: 207549

In [27]:
# Step 3: bring-in 2016-2018 data into a df

incident_file_df1718 = pd.read_csv(incident_file_df1718)
print(f"# of rows in 2017-2018 file: {len(incident_file_df1718)}")

# of rows in 2017-2018 file: 204040

C:\Users\17737\anaconda3\envs\PythonData38\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [28]:
# Concatonate previous DFs into a single dataframe

incident_file_df = pd.concat([incident_file_df1114, incident_file_df1516, incident_file_df1718])
print(f"# of rows in complete file: {len(incident_file_df)}")

# of rows in complete file: 729132

In [29]:
incident_file_df.count()

# Possibly delete rows with a missing Assign_Time??

Response_Date          729132
Event_Type             729132
Division_Name          729132
Station                729132
Radio_Name             729132
First_Unit_Assigned    729132
First_Unit_Arrived     708375
Assign_Time            699105
Arrive_Time            729132
Ward                   724431
Location               729132
Location_1             729132
Jurisdiction           729132
Fiscal_Year            729132
Per_Capita             729132
ObjectId               729132
dtype: int64

In [30]:
# Drop all rows with missing information
#incident_file_df = incident_file_df.dropna(how='any')

# *** I DON'T THINK WE WANT TO DO THIS ***

In [31]:
incident_file_lean_df = incident_file_df[["Station","Response_Date","Event_Type","First_Unit_Assigned","First_Unit_Arrived","Location","Location_1"]]
incident_file_lean_df.head()

,Station,Response_Date,Event_Type,First_Unit_Assigned,First_Unit_Arrived,Location,Location_1
0,Station 4,2011/07/01 00:00:00+00,Medical,2011/07/01 00:01:00+00,7/1/2011 0:06,S Maryland Pky & E Carson Ave,"(36.16462708, -115.1334076)"
1,Station 44,2011/07/01 00:05:00+00,Medical,2011/07/01 00:06:00+00,7/1/2011 0:12,100 block of Lotus Blossom Ct,"(36.17433167, -115.2525711)"
2,Station 3,2011/07/01 00:22:00+00,Fire,2011/07/01 00:24:00+00,7/1/2011 0:27,N RANCHO DR & W WASHINGTON AVE,"(36.18107986, -115.1791687)"
3,Station 10,2011/07/01 00:22:00+00,Medical,2011/07/01 00:23:00+00,7/1/2011 0:29,2200 block of S Las Vegas Blvd,"(36.1462059, -115.1557083)"
4,Other,2011/07/01 00:23:00+00,Public Need,2011/07/01 00:24:00+00,7/1/2011 0:31,7300 block of Breezy Night Ct,"(36.2447052, -115.2542267)"

In [32]:
# Create new df for rows that DO NOT contain 'none' in the First_Unit_Arrived column

incident_file_clean_df = incident_file_lean_df[incident_file_lean_df["First_Unit_Arrived"] != "None"]
incident_file_clean_df.count()

Station                682788
Response_Date          682788
Event_Type             682788
First_Unit_Assigned    682788
First_Unit_Arrived     662031
Location               682788
Location_1             682788
dtype: int64

In [33]:
incident_file_clean_df.head()

,Station,Response_Date,Event_Type,First_Unit_Assigned,First_Unit_Arrived,Location,Location_1
0,Station 4,2011/07/01 00:00:00+00,Medical,2011/07/01 00:01:00+00,7/1/2011 0:06,S Maryland Pky & E Carson Ave,"(36.16462708, -115.1334076)"
1,Station 44,2011/07/01 00:05:00+00,Medical,2011/07/01 00:06:00+00,7/1/2011 0:12,100 block of Lotus Blossom Ct,"(36.17433167, -115.2525711)"
2,Station 3,2011/07/01 00:22:00+00,Fire,2011/07/01 00:24:00+00,7/1/2011 0:27,N RANCHO DR & W WASHINGTON AVE,"(36.18107986, -115.1791687)"
3,Station 10,2011/07/01 00:22:00+00,Medical,2011/07/01 00:23:00+00,7/1/2011 0:29,2200 block of S Las Vegas Blvd,"(36.1462059, -115.1557083)"
4,Other,2011/07/01 00:23:00+00,Public Need,2011/07/01 00:24:00+00,7/1/2011 0:31,7300 block of Breezy Night Ct,"(36.2447052, -115.2542267)"

In [34]:
incident_file_clean_df["Assigned Time"] = "TBD"

<ipython-input-34-d6c3b4e438cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incident_file_clean_df["Assigned Time"] = "TBD"

In [35]:
incident_file_clean_df.head()

,Station,Response_Date,Event_Type,First_Unit_Assigned,First_Unit_Arrived,Location,Location_1,Assigned Time
0,Station 4,2011/07/01 00:00:00+00,Medical,2011/07/01 00:01:00+00,7/1/2011 0:06,S Maryland Pky & E Carson Ave,"(36.16462708, -115.1334076)",TBD
1,Station 44,2011/07/01 00:05:00+00,Medical,2011/07/01 00:06:00+00,7/1/2011 0:12,100 block of Lotus Blossom Ct,"(36.17433167, -115.2525711)",TBD
2,Station 3,2011/07/01 00:22:00+00,Fire,2011/07/01 00:24:00+00,7/1/2011 0:27,N RANCHO DR & W WASHINGTON AVE,"(36.18107986, -115.1791687)",TBD
3,Station 10,2011/07/01 00:22:00+00,Medical,2011/07/01 00:23:00+00,7/1/2011 0:29,2200 block of S Las Vegas Blvd,"(36.1462059, -115.1557083)",TBD
4,Other,2011/07/01 00:23:00+00,Public Need,2011/07/01 00:24:00+00,7/1/2011 0:31,7300 block of Breezy Night Ct,"(36.2447052, -115.2542267)",TBD

PROCESS FIRE STATION DATA

In [74]:
# Bring-in fire station data
station_df = pd.read_csv(fire_station_data)
print(f"# of rows in the Station data file: {len(station_df)}")
#station_df.head()

# of rows in the Station data file: 89

In [85]:
distinct_stations = incident_file_clean_df["Station"].unique()
clv_stations_df = station_df[station_df["CITY_CODE"] == "CLV"]
clv_stations_df.head()

,FACILITY_NAME,FACILITY_ADDRESS,CITY_CODE,STATION_NUMBER,ENGINE,RESCUE,TRUCK,BATTALION,CAPABILITI,OTHER_UNIT,CONSTRUCTION_YEAR,LONG,LAT,ObjectId
0,STATION 1 - CLV,500 N CASINO CENTER BLVD,CLV,1,"1,201,301",1201301.0,1.0,1,ALS &ILS,"BAT1, Eng401&501,Res401,501,601,100,Sqaud1,ILS...",6/23/1984,-115.140593,36.175147,1
2,STATION 2 - CLV,900 S DURANGO DR,CLV,2,2,2.0,NaN,10,ALS,BAT10,12/1989,-115.278456,36.161596,3
3,STATION 3 - CLV,2645 W WASHINGTON AV,CLV,3,"3,203",3.0,3.0,1,ALS,CBRN3,12/18/1980,-115.177234,36.180656,4
4,STATION 4 - CLV,421 S 15TH ST,CLV,4,"4,204",4204.0,4.0,1,ALS & ILS,ILS4,12/1989,-115.131524,36.159943,5
5,STATION 5 - CLV,1020 HINSON ST,CLV,5,"5,205,555",5.0,NaN,10,ALS,"EMS1,ILS5",9/11/2004,-115.195485,36.160133,6

In [103]:
#Access maps with unique API key
gmaps.configure(api_key=g_key)

In [110]:
#create a map of Firehouse locations
station_locations = clv_stations_df[['LAT','LONG']]

fig = gmaps.figure()
markers = gmaps.marker_layer(station_locations)



# # Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
   
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [105]:
locations = [(36.243,-115.6789), (35.4111,-115.5444), (34.211, -115.822)]

# Your previous Locations_1 was in exactly this format

In [106]:
locations = [[36.243,-115.678], [35.4111,-115.5444], [34.211, -115.822]]

In [ ]:
f"{lat},{lng}"